@model ArafaEmploymentApp.Models.Education

@{
    ViewData["Title"] = "Education";
}

<main class="container">
    <form asp-action="Education">
        </br><button type="button" id="sidebarCollapse" class="btn btn-secondary" onclick="toggleSidebar()">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button>

        <section class="header">
            <h3>Education</h3>
        </section>
        <hr />
        <b>**Fields in Bold are Required**</b></br>
        <div class="form-row">
            <div class="form-group col-6">
               <b> <label asp-for="SchoolName" class="control-label"></label></b>
                <input asp-for="SchoolName" class="form-control" />
                <span asp-validation-for="SchoolName" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="SchoolState" class="control-label"></label>
                <select asp-for="SchoolState" class="form-control">
                    <option value="AL">Select a State</option>
                    <option value="AL">None</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
                <span asp-validation-for="SchoolState" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label asp-for="HighestEducationEarned" class="control-label"></label>
                <select asp-for="HighestEducationEarned" class="form-control">
                    <option value="none">none</option>
                    <option value="Pre-highschool">Pre-Highschool</option>
                    <option value="HighSchool">High School</option>
                    <option value="GED">GED</option>
                    <option value="Assoc">Associates</option>
                    <option value="Bach">Bachelors</option>
                    <option value="MS">Masters</option>
                    <option value="PHD">Post Doc</option>
                </select>
                <span asp-validation-for="HighestEducationEarned" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group col-6">
                <label asp-for="GraduationDate" class="control-label"></label>
                <input asp-for="GraduationDate" class="form-control" />
                <span asp-validation-for="GraduationDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <b><label asp-for="AdditionalEducation" class="control-label"></label></b>
        </div>
        <div class="form-group">
            <textarea class="form-control" asp-for="AdditionalEducation" rows="7"></textarea>
            <span asp-validation-for="AdditionalEducation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <center>
                <input type="submit" value="Save and Continue" class="btn btn-secondary" /></br>
            </center>
        </div>
    </form>
</main>
