@model ArafaEmploymentApp.Models.EmploymentHistory

@{
    ViewData["Title"] = "Employment History";
}

</br><button type="button" id="sidebarCollapse" class="btn btn-secondary" onclick="toggleSidebar()">
    <i class="fas fa-align-left"></i>
    <span>Toggle Sidebar</span>
</button>

<section class="header"><h3>Employment History</h3></section>
<hr />
<main class="container">
    <button type="button" id="employerAddButton" onclick="duplicateEmployer()" style="float: right">Add an employer</button>
    <form asp-action="EmploymentHistory">
        <h5>Most Recent Employer</h5>
        <div id="employer">
            <div class="form-group">
                <label asp-for="EmployerName" class="control-label"></label>
                <input asp-for="EmployerName" class="form-control" />
                <span asp-validation-for="EmployerName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    <label asp-for="EmployerCity" class="control-label"></label>
                    <input asp-for="EmployerCity" class="form-control" />
                    <span asp-validation-for="EmployerCity" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="EmployerState" class="control-label"></label>
                    <select asp-for="EmployerState" class="form-control">
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                    <span asp-validation-for="EmployerState" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="EmployerZip" class="control-label"></label>
                    <input asp-for="EmployerZip" class="form-control" />
                    <span asp-validation-for="EmployerZip" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label asp-for="EmployerNumber" class="control-label"></label>
                    <input asp-for="EmployerNumber" class="form-control" />
                    <span asp-validation-for="EmployerNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="EmployerEmail" class="control-label"></label>
                    <input asp-for="EmployerEmail" class="form-control" />
                    <span asp-validation-for="EmployerEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label asp-for="SupervisorName" class="control-label"></label>
                    <input asp-for="SupervisorName" class="form-control" />
                    <span asp-validation-for="SupervisorName" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="JobTitle" class="control-label"></label>
                    <input asp-for="JobTitle" class="form-control" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label asp-for="EmploymentDateFrom" class="control-label"></label>
                    <input asp-for="EmploymentDateFrom" class="form-control" />
                    <span asp-validation-for="EmploymentDateFrom" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="EmploymentDateTo" class="control-label"></label>
                    <input asp-for="EmploymentDateTo" class="form-control" />
                    <span asp-validation-for="EmploymentDateTo" class="text-danger"></span>
                </div>
            </div>
            <hr />
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="FiredBefore" /> @Html.DisplayNameFor(model => model.FiredBefore)
            </label>
        </div>

        <section>
            <h5>Days of Work Missed Due to Child Illness/Out of School?</h5>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="WorkMissedPastMonth" class="control-label"></label>
                    <input asp-for="WorkMissedPastMonth" class="form-control" min="0"
                           oninput="this.value = Math.abs(this.value)" />
                    <span asp-validation-for="WorkMissedPastMonth" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="WorkMissedPastSixMonths" class="control-label"></label>
                    <input asp-for="WorkMissedPastSixMonths" class="form-control" min="0"
                           oninput="this.value = Math.abs(this.value)" />
                    <span asp-validation-for="WorkMissedPastSixMonths" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="WorkMissedPastYear" class="control-label"></label>
                    <input asp-for="WorkMissedPastYear" class="form-control" min="0"
                           oninput="this.value = Math.abs(this.value)" />
                    <span asp-validation-for="WorkMissedPastYear" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AdditionalSkills" class="control-label"></label>
            </div>
            <div class="form-group">
                <textarea class="form-control" asp-for="AdditionalSkills" rows="7"></textarea>
                <span asp-validation-for="AdditionalSkills" class="text-danger"></span>
            </div>
        </section>

        <div class="form-group">
            <center>
                <input type="submit" value="Save and Continue" class="btn btn-secondary" /></br>
            </center>
        </div>
    </form>
</main>

