@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">UNFinished Business Employment Application</h1>
    <hr />
    <div>
        <h2>We're glad you're here!</h2>
        <p>Thank you for your interest in joining the UNFinished Business Company's career team. We will review your
        application, and if we think you would be a great fit, someone from our career team will reach out to you soon.</p>
        <h5>Click the "Apply Now" button below to begin the employment application process.</h5>
        <br />
        <a asp-action="ApplicantInformation" class="btn btn-primary">Apply now</a>
    </div>
</div>
