@model ArafaEmploymentApp.Models.References

@{
    ViewData["Title"] = "Siganture and References";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="References">
            <h2>References</h2> <!--duplicating fields here to make it 3 references to match common job applications-->
            <h5>Reference 1:</h5>
            <div class="form-group">
                <label asp-for="ReferenceFullName" class="control-label"></label>
                <input asp-for="ReferenceFullName" class="form-control" />
                <span asp-validation-for="ReferenceFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceEmail" class="control-label"></label>
                <input asp-for="ReferenceEmail" class="form-control" />
                <span asp-validation-for="ReferenceEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferencePhoneNumber" class="control-label"></label>
                <input asp-for="ReferencePhoneNumber" class="form-control" />
                <span asp-validation-for="ReferencePhoneNumber" class="text-danger"></span>
            </div>
            <h5>Reference 2:</h5>
            <div class="form-group">
                <label asp-for="ReferenceFullName" class="control-label"></label>
                <input asp-for="ReferenceFullName" class="form-control" />
                <span asp-validation-for="ReferenceFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceEmail" class="control-label"></label>
                <input asp-for="ReferenceEmail" class="form-control" />
                <span asp-validation-for="ReferenceEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferencePhoneNumber" class="control-label"></label>
                <input asp-for="ReferencePhoneNumber" class="form-control" />
                <span asp-validation-for="ReferencePhoneNumber" class="text-danger"></span>
            </div>
            <h5>Reference 3:</h5>
            <div class="form-group">
                <label asp-for="ReferenceFullName" class="control-label"></label>
                <input asp-for="ReferenceFullName" class="form-control" />
                <span asp-validation-for="ReferenceFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceEmail" class="control-label"></label>
                <input asp-for="ReferenceEmail" class="form-control" />
                <span asp-validation-for="ReferenceEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferencePhoneNumber" class="control-label"></label>
                <input asp-for="ReferencePhoneNumber" class="form-control" />
                <span asp-validation-for="ReferencePhoneNumber" class="text-danger"></span>
            </div>

            <h4>Signature and date</h4>
            <div class="form-group">
                <label asp-for="Signature" class="control-label"></label>
                <input asp-for="Signature" class="form-control" />
                <span asp-validation-for="Signature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionDate" class="control-label"></label>
                <input asp-for="AdmissionDate" class="form-control" />
                <span asp-validation-for="AdmissionDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save and Complete" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<a asp-action="Index">Exit Application</a>
