@model ArafaEmploymentApp.Models.References

@{
    ViewData["Title"] = "Siganture and References";
}


<section class="header"><h3>References</h3></section>
<hr />
<main class="container">
    <button type="button" id="referencesAddButton" onclick="duplicateReference()" style="float: right">Add a reference</button>
    <form asp-action="References">
        <div id="reference">
            <h5>Reference</h5>
            <div class="form-row">
                <div class="form-group col-4">
                    <label asp-for="ReferenceFullName" class="control-label"></label>
                    <input asp-for="ReferenceFullName" class="form-control" />
                    <span asp-validation-for="ReferenceFullName" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="ReferenceEmail" class="control-label"></label>
                    <input asp-for="ReferenceEmail" class="form-control" />
                    <span asp-validation-for="ReferenceEmail" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="ReferencePhoneNumber" class="control-label"></label>
                    <input asp-for="ReferencePhoneNumber" class="form-control" />
                    <span asp-validation-for="ReferencePhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </div>

        <section>
            <h4>Signature and date</h4>
            <div class="form-group">
                <label asp-for="Signature" class="control-label"></label>
                <input asp-for="Signature" class="form-control" />
                <span asp-validation-for="Signature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionDate" class="control-label"></label>
                <input asp-for="AdmissionDate" class="form-control" />
                <span asp-validation-for="AdmissionDate" class="text-danger"></span>
            </div>
        </section>
        <div class="form-group">
            <input type="submit" value="Save and Complete" class="btn btn-primary" />
        </div>
    </form>
</main>

<a asp-action="Index">Exit Application</a>
