@{
    ViewData["Title"] = "Submission Page";
}
</br></br>
<div class="text-center">
    <h1 class="display-4">UNFinished Business Employment Application</h1>
    <hr />
    <div>
        <h2>Thank you for applying!</h2>
        <p>
            We will review your application, and if we think you would be a great fit, someone from our career team will reach out to you soon.
        </p>
        <br />
        <a asp-action="Index" class="btn btn-secondary">Return Home</a>
    </div>
</div>
